@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Lista czytelników";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4 class="text-center">Lista czytelników</h4>
        </p>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Surname)</th>
                    <th>@Html.DisplayNameFor(model => model.PESEL)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.PESEL)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>